body {
  font-family: monospace;
  color: #FFF;
  text-shadow: 0 0 1px #000;
}

p {
  margin: 0px;
}

#container {
  position: relative;
  border: solid 1px #DDD;
}
#container canvas, #overlay, #crosshair {
  position: absolute;
}
#c {
  background-color: #000;
}
#crosshair polygon, circle {
  fill: #FFF;
}
#crosshair {
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}